# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.js     linguist-language=javascript
*.cs	 linguist-language=csharp
*.html   -linguist-vendored
*.css    -linguist-vendored

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
